.clearfix {
    clear: both;
}

img {
    float: left;
    width: 20%;
}

.first-p {
    background-color: red;
    height: 100px;
    overflow: scroll;
}

.second-p {
    background-color: orange;
   
}

.third-p {
    background-color: brown;
}